#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_BRCMWIFI
	bool "BRCM WIFI Control application"
	default n
	depends on BRCM_WLAN
	---help---
		Enable the Broadcom WiFi Control Application

