#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if DRIVERS_WIRELESS

	if ARCH_CHIP_BCM2835
#source drivers/wireless/brcm/Kconfig
source drivers/wireless/broadcom/Kconfig
	endif

	if SELECT_SCSC_WLAN
source drivers/wireless/scsc/Kconfig
	endif

endif # DRIVERS_WIRELESS
